html,
body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

.item {
  font-family: Helvetica, sans-serif;
  margin: 10px;
}

.item a {
  color: #FFF;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
  padding: 5px;
  text-decoration: none;
}

.item a:hover {
  background-color: #FFF;
  color: #000;
}

#burst {
  color: #FFF;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  margin: 10px;
  max-width: 800px;
  width: 80%;
}

#burst h3 {
  font-size: 24px;
}

#burst p,
#burst i {
  font-size: 14px;
  line-height: 24px;
}

#burst a {
  border-bottom: 1px solid #FFF;
  color: #FFF;
  font-weight: 700;
  text-decoration: none;
}

#burst a:hover {
  background-color: #FFF;
  border-bottom: 1px solid #000;
  color: #000;
}
