html,
body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

#app {
  color: #FFF;
  font-family: Helvetica, sans-serif;
  height: calc(100vh - 20px);
  margin: 10px auto 10px auto;
  width: calc(100% - 20px);
}

.item {
  font-family: Helvetica, sans-serif;
  margin: 10px;
}

.item a {
  color: #FFF;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
  padding: 5px;
  text-decoration: none;
}

.item a:hover {
  background-color: #FFF;
  color: #000;
}
