@font-face {
  font-family: 'Epsilon';
  src: url('Epsilon.ttf');
}

html,
body {
  /* background-color: #000; */
  cursor: none;
  margin: 0;
  padding: 0;
}

#content {
  color: #999;
  font-family: sans-serif;
  position: fixed;
    top: 10;
    left: 10;
  z-index: 100;
  width: calc(100vw - 20px);
}

#content hr {
  background-color: #999;
  border-width: 0;
  color: #999;
  height: 2px;
  margin-top: 5;
}

#content button {
  background: transparent;
  border: 1px solid #999;
  color: #999;
  font-family: 'Epsilon', sans-serif;
  outline: none;
  padding: 8px 40px 5px 5px;
}

#content button.selected {
  background-color: magenta;
}

#name {
  font-family: 'Epsilon', sans-serif;
  font-size: 20px;
}

#main {
  font-family: 'Epsilon', sans-serif;
  color: #999;
  position: fixed;
    top: calc(100vh / 3);
    left: 10;
  z-index: 100;
  width: 100%;
}

#main .line {
  font-size: 16px;
  margin-bottom: 10px;
  white-space: pre;
}

#navigation {
  color: #999;
  font-size: 39px;
  font-family: 'Epsilon', sans-serif;
  position: fixed;
    bottom: 10;
    left: 10;
  width: calc(100vw - 20px);
}

#navigation hr {
  background-color: #999;
  border-width: 0;
  color: #999;
  height: 2px;
}

#navigation #left {
  float: left;
  position: fixed;
    bottom: -12;
    left: 10;
}

#navigation #text {
  float: left;
  font-size: 16px;
  position: fixed;
    bottom: 8;
    left: 60;
}

@media only screen and (max-width: 400px) {
  #navigation #left {
    bottom: -2;
  }
}