<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.8.2/marked.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div id="app">
    <div id="buttons">
      <button type="button" @click="toggleStack">STACK</button>
      <button type="button" @click="toggleState">{{ state.editing ? 'PREVIEW' : 'EDIT' }}</button>
      <button type="button" @click="copy">COPY</button>
    </div>

    <div id="stackbar" v-if="state.showStack">
      <button type="button" @click="toggleStack">CLOSE</button>
      <div class="container">
        <stack-item @pasting="paste" v-for="(s, i) in stack" :key="i" :content="s" />
      </div>
    </div>

    <div id="preview" v-if="previewing">
      <div v-html="converted"></div>
    </div>

    <div id="editor" v-if="state.editing">
      <textarea v-model="text" placeholder="Type markdown..."></textarea>
    </div>
  </div>

  <script>

    Vue.component('stack-item', {
      props: ['content'],
      template: `
         <div class="stack-item">
           <div class="stack-item content" @click="paste">{{ chopped }}</div>
         </div>
        `,
      methods: {
        paste: function () {
          this.$emit('pasting', this.content);
        }
      },
      computed: {
        chopped: function () {
          return `${this.content.slice(0, 15)}...`
        }
      }
    });

    new Vue({
      el: '#app',
      data: {
        state: {
          showStack: false,
          editing: true,
        },
        stack: [],
        text: '',
      },
      methods: {
        toggleState: function () {
          this.state.editing = !this.state.editing;
        },
        toggleStack: function () {
          this.state.showStack = !this.state.showStack;
        },
        copy: function () {
          let toCopy = this.converted;

          this.stack.push(toCopy);

          let el = document.createElement('textarea');
          el.value = toCopy;
          document.body.appendChild(el);
          el.select();
          document.execCommand('copy');
          document.body.removeChild(el);
          alert('HTML copied!')
        },
        paste: function (content) {
          this.text = content;
          this.state.showStack = false;
        }
      },
      computed: {
        previewing: function () {
          return !this.state.editing;
        },
        converted: function () {
          return marked(this.text);
        }
      }
    })

  </script>

  <!-- You can also require other files to run in this process -->
  <script src="./renderer.js"></script>
</body>

</html>