html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, system sans-serif;
}

a {
  color: #000;
}

a:hover {
  border: none;
  color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#app {
  margin: auto;
  margin-top: 10px;
  width: calc(100% - 20px);
}

.questions {
  margin-top: 5px;
}